.container-fluid.bg-slider
	.slider-container
		h1.caps.slider-text Web & Graphic Designer
		+button({
			text:"Learn More",
			btnClass:"slider-btn"
		})
	.slider-counter
		img(src="image/iconImg/counters-white.png" alt="counters white")

